#anim {
	font-size: 50px;
	font-weight: 800;
	color: rgb(61, 54, 54);
	line-height: 1.1;
	margin-top: 50px;
}

#header nav ul li a:hover {
	color: var(--secondary-color);
}

#logo {
	margin-left: 0.3em;
}

.content h3 {
	font-size: 130%;
}

.main.style3 p {
	text-align: justify;
}

.main.style3 ol  {
	text-align: justify;

}

.main.style3 #prompt {
	text-align: center;
}

.main.style3 ul {
	text-align: justify;
}

.main.style3 li {
	text-align: justify;
}

.main.style3 > p > ul {
	text-align: justify;
}

.main.style3 > p > ol {
	text-align: justify;
}

.main.style3 iframe {
	text-align: center;
	align-content: center;
}

.img-pair {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 2em;
	margin-top: 2em;
}

.img-pair iframe {
	overflow: visible;
	clear: both;
	width: 100%;
}

.img-pair img, .img-pair iframe {
	text-align: center;
	align-content: center;
}

.img-pair img {
	margin: 0 0.5em 0 0.5em;
}

.gray {
	background-color: rgb(240, 238, 238);
}

#logo:hover {
	text-decoration: none;
}

#intro div, #questions div {
	margin-bottom: 50px;
}


#questions-list {
	list-style: circle;
	margin-left: 0.2em;
}

.row {
	display: flex;
	size: fit-content;
}

.team-member {
	text-align: center
}

.team-member h4 {
	text-align: center;
	margin: 0 0.4em;
}

.team-member p {
	letter-spacing: -0.05em;
	overflow: hidden;
}

.contact {
	color: #000;
	background-image: url("../../assets/images/word_map.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-top: 60px
}

.social-icon {
	color: white;
	display: inline-block;
}

.social-icon a {
	display: inline-flex;
	background: var(--secondary-color);
	height: 35px;
	width: 35px;
	padding: 5px 5px;
	border-radius: 50px;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-decoration: none;
}

.social-icon a:hover {
	background: var(--secondary-color);
}

.list-inline {
	padding: 0;
	margin: 0;
	white-space: nowrap;
	list-style: none;
	display: inline-block;
}

.list-inline li {
	display: inline;
	margin: 0 0.2em;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.navy {
	color: var(--secondary-color);
}

#contact-section {
	background-color: rgba(226, 221, 221, 0.7);
	color: #868a8c;
	background-size: cover;
	padding: 50px;
	margin-top: 0;
}

#footer ul.menu {
	margin-top: 4%;
}

#repo-link {
	text-align: center;
	font-weight: 700;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.content a:hover {
	color: rgb(61, 54, 54);
	text-decoration: none;
}

.main.style3.conclusion ol {
	list-style-type: decimal;
}

/* Properties */
@property --secondary-color {
	syntax: "<color>";
	inherits: true;
	initial-value: #3385FF;
}

/* Media Queries */
@media screen and (max-width: 900px) {
	#intro div, #questions div {
		clear: both;
	
	}

	.img-pair img, .img-pair iframe {
		width: 100%;
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	.img-pair {
		flex-direction: column;
	}

	.img-pair img {
		margin: 0.5em 0 0.5em 0;
	}
	
}

@media screen and (max-width: 768px) {
	#anim {
		font-size: 30px;
	}

	#home h2 {
		font-size: 40px;
	}
	
	.team-member h4 {
		white-space: normal;
		margin-top: 20px;
	}
	
	#questions-list {
		list-style: none;
	}
	
	.button {
		display: none;
	}
}

@media screen and (max-width: 480px) {

	#avg_game_length {
		display: none;
	}

	#anim {
		font-size: 20px;
	}
}